.store-details{
    .title{
        font-size: 30px;
    }
    .address-title {
        margin-left: 30px;
        .address {
            font-weight: 300;
        }
    }
}

table {
    min-width: 700px;
}