.store-details{
    .title{
        font-size: 30px;
    }
    .address-title {
        margin-left: 30px;
        .address {
            font-weight: 300;
        }
    }
}

.articles-title {
    width: 50%;
    float: left;
}

button {
    margin-right: 10px;
    float: right;
}

table {
    min-width: 700px;
}
